.flex{
    display: flex;
   
    align-items: center;

    
}
.border{
    border: 1px solid black;
    border-radius: 1rem;
}
.inver{
    filter: invert(1);
}
.font{
    font-size: 1.5rem;
}

